<a href="https://colab.research.google.com/github/GabrielFonsecaNunes/data-science-with-python/blob/master/Aula%202/Notebooks/Notebook_4_Desafio_data_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
!pip install yfinance plotly

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.74)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)

In [13]:
# Analise de
import pandas as pd
import numpy as np
import requests

# Manipulacao de horas
from datetime import datetime, timedelta

# Livrarias Visualização de Dados
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

# API Historico Pararidade Criptomoedas Yahoo Finance https://pypi.org/project/yfinance/
import yfinance as yf

# Desafio Visualizacao de Dados
## Desenvolver um dashboard com paridades de alguma criptomoeda a partir de biblioteca yfinance, datetime com relatorio hora em hora, diario, semanal e mensal!

In [ ]:
import yfinance as yf

data = yf.download(tickers='BTC-USD', period = '22h', interval = '')

Exception in thread Thread-12:
Traceback (most recent call last):
  File "/usr/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.7/threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/lib/python3.7/dist-packages/multitasking/__init__.py", line 104, in _run_via_pool
    return callee(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/yfinance/multi.py", line 190, in _download_one_threaded
    timeout)
  File "/usr/local/lib/python3.7/dist-packages/yfinance/multi.py", line 207, in _download_one
    timeout=timeout)
  File "/usr/local/lib/python3.7/dist-packages/yfinance/base.py", line 309, in history
    if params["interval"][-1] == "m":
IndexError: string index out of range

In [16]:
data

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-07-24 23:15:00+00:00,22668.115234,22687.939453,22658.923828,22687.939453,22687.939453,61368320
2022-07-24 23:30:00+00:00,22715.843750,22737.597656,22688.296875,22688.296875,22688.296875,126656512
2022-07-24 23:45:00+00:00,22676.417969,22676.417969,22622.210938,22622.210938,22622.210938,56981504
2022-07-25 00:00:00+00:00,22603.402344,22614.740234,22587.041016,22614.740234,22614.740234,75057152
2022-07-25 00:15:00+00:00,22620.000000,22648.585938,22490.873047,22490.873047,22490.873047,177274880
...,...,...,...,...,...,...
2022-07-25 19:15:00+00:00,21684.869141,21699.638672,21667.712891,21669.781250,21669.781250,637192192
2022-07-25 19:30:00+00:00,21654.210938,21673.845703,21632.658203,21673.179688,21673.179688,745799680
2022-07-25 19:45:00+00:00,21679.265625,21800.486328,21679.265625,21797.507812,21797.507812,705112064
2022-07-25 20:00:00+00:00,21855.291016,22129.365234,21855.291016,22129.365234,22129.365234,1162313728
2022-07-25 20:13:00+00:00,22129.365234,22129.365234,22129.365234,22129.365234,22129.365234,0